@model List<Models.WFInstance>
@{
    ViewBag.Title = "ApprovingList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script>
</script>
<h2>待审批列表</h2>
<div class="box">

    <div class="box-body ">
        <table class="table table-bordered">
            <tr><th>WFId</th><th>用户</th><th>状态</th><th>提交时间</th><th>审批时间</th><th>审批用户</th><th>共享用户</th><th>当前节点</th></tr>
            @foreach (Models.WFInstance item in Model)
            {
                <tr>
                    <td>@item.WfInstanceId</td>
                    <td>@item.User</td>
                    <td>@item.State</td>
                    <td>@item.SubmitTime</td>
                    <td>@item.ApproveTime</td>
                    <td>@item.ApproveUser</td>
                    <td>@item.ShareUsers</td>
                    <td>@item.CurrentNode</td>
                </tr>
            }
        </table>
    </div>

</div>